* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

nav {
    height: 80px;
    width: 100%;
    background: linear-gradient(to right, rgb(255, 153, 0), rgb(255, 94, 0));
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.nav_right img {
    height: 60px;
}

.nav_center ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 600;
}

.nav_center ul li:hover {
    cursor: pointer;
    font-size: large;
}

.nav_left img {
    height: 70px;
    width: 120px;
}

.page1 {
    height: 100vh;
    position: relative;
    width: 100%;
    background: linear-gradient(to right, rgb(255, 153, 0), rgb(255, 94, 0));
}

.page1 h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 300px;
    color: white;
}
.fanta-bottle {
    height: 80%;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.orange-cut{
    height: 250px;
    position: absolute;
    top: -4%;
    left: 40%;
    transform: translateX(-50%);
    z-index: 8;
}

.oranges{
    height: 390px;
    position: absolute;
    bottom: 2%;
    left: 65%;
    transform: translateX(-50%);
}

.leaf{
        position: absolute;
        height: 150px;
        z-index: 4;
        top:10%;
        left:15%
}

.page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 2%;
    background: linear-gradient(120deg, rgb(255, 153, 0), rgb(255, 94, 0), rgb(127, 231, 108));
    position: relative;
}

.page3 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgb(255, 153, 0), rgb(255, 94, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px
}

.page2 .page2_left{
    height: 100%;
    width: 62%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 .page2_right{
    height: 100%;
    width: 62%;
    border-radius: 20px;
    color: thistle;
    text-align: center;
    margin-top: 29%;
    margin-right: 3%;
}

.lemon-slices{
    height: 400px;
    position: absolute;
    bottom: 1%;
    right: -1%;

}

.orange-leaf{
    height: 600px;
    position: absolute;
    top: 10%;
    left: -1%;
}

.block{
    height: 70%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 12px 10px rgba(0, 0, 0, 0.3);
}

.flavours{
    height: 80%;
    width: 110%;
}

.block{
    height: 70%;
    width: 25%;
}

.block{
    height: 70%;
    width: 25%;
}

.block h3{
    text-align: center;
    color: white;
    margin-top: 10px;
}

.block :hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    border-radius: 25%;
}

footer{
    height: 50%;
    width: 100%;
    background: rgb(49, 47, 47);
}

.start{
    height: 100px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center; 
    padding-left: 60px;   

}
.middle{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}


.middle h4{
    color: white;
    font-size: large;
    padding: 20px;
}

.middle h5{
    font-size: x-large;
    padding: 1px;
}

hr{
    border: 0.5px solid gray;
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.decorate{
    color: white;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.last img{
    height: 80px;
    margin-top: 20px;
    padding: 8px;
}
.last{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


